.title{
    text-align: center;
}
.text{
    width: 65%;
    margin: 10px auto;
    display: block;
    height: 120px;
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.text{
    width: 65%;
    margin: 10px auto;
    display: block;
    height: 120px;
}